
@{
    Layout = null;
}

<!DOCTYPE html>


<div>
    <form action="/Home/Aras" method="post">
        <label>
            Name<br /><input type="text" name="name" value="neodyum" />
        </label>
        <br />
        <label>
            Password<br /><input type="text" name="password" value="nd2580" />
        </label>
        <br />
        <label>
            TRadingNumber<br /><input type="text" name="tradinumber" value="9423012" />
        </label>
        <br />
        <label>
            IncoiceNumber<br /><input type="text" name="incoiceNumber" value="6902001888" />
        </label>
        <br />
        <input type="submit" value="View" />
    </form>
</div>
